@{
    ViewBag.Title = "About Us";
    Layout = "_Layout";
}

<div class="container-fluid">

    <h1 class="display-2 text-center text-primary">Привет!</h1>
    <div class="space-20"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 mr-2 photo">
            <img class="img-fluid" src="~/images\me.jpg"/>
        </div>
        <div class="col-12 col-md-5">
            <div class="about-us-block">
                <p class="info">
                    Меня зовут Савелий Колесников. Мне 18 лет. Я студент ХНУРЭ специализации "Программная Инженерия".<br />
                    Моя основная деятельность это разработка веб-приложений при помощи ASP.NET Core.<br />
                    Больше информации обо мне
                    <a class="info-link" href="https://s-res.azurewebsites.net/about" title="My site">
                        на моем сайте</a>.
                    <br />
                    Подписывайтесь на меня в
                    <a class="info-link" href="https://www.instagram.com/saveliy.kolesnikov/" target="_blank" title="Instagram of Saveliy Kolesnikov"> Instagram</a>.
                    <br />
                    По всем вопросам можете обращаться ко мне в
                    <a class="info-link" href="https://t.me/SaveMeAgain" target="_blank" title="Telegram of Saveliy Kolesnikov"> Telegram</a>.
                    <br />


                </p>
                <p class="info m-0" style="font-size: 1.1em;">
                    Сказать спасибо: <br/>
                    Приват: 5168 7551 0894 6225 <br/>
                </p>
            </div>
        </div>
    </div>
</div>