@{
    ViewData["Title"] = "О поступлении";
}

<blockquote class="blockquote">
    <h1 class="display-2 text-center text-primary">Abit YOUR</h1>
    <footer class="blockquote-footer text-center text-info">
        Prod by
        <cite title="More about me: s-res.azurewebsites.net">
            <a href="http://s-res.azurewebsites.net" class="deco-none" target="_blank"> Saveliy Kolesnikov</a>
        </cite>
    </footer>
</blockquote>

<div class="space-20"></div>
<div class="container-fluid">
    <div class="row justify-content-center margin-bottom-5">
        <article class="col-11 col-sm-10 col-md-9 col-lg-9 justify-content-center article-body">
            <h3 class="welcome-message how-to text-center">Абитуриент - 2018</h3>
            <br />
            <p>
                <strong>
                    В Украине проходит основная сессия ВНО (внешнего независимого оценивания).
                    Его результаты для многих станут решающими в жизненно важном выборе &ndash;
                    поступлении в ЗВО (заведения высшего образования), как теперь, по-новому,
                    называются бывшие вузы. Так каковы же особенности
                    нынешней вступительной кампании, и что нужно знать будущим абитуриентам, чтобы не упустить свой шанс.
                </strong>
            </p>

            <h2>
                <strong>ПУТЬ К СЕРТИФИКАТАМ</strong>
            </h2>

            <p>
                Впервые ВНО стало обязательным для всех поступающих в 2008 году &ndash;
                10 лет назад. Так что сейчас, когда будущие абитуриенты проходят тестирование 11-й раз,
                у самой системы &ndash; 10-летний юбилей. За эти годы ВНО сдали более 3 млн юных украинцев.
                В этом году, по данным Министерства образования и науки, в школах Украины &ndash;
                относительно немного, 184 тысячи 867 выпускников, что на 7,5 тыс. меньше, чем в 2017 году.
                А на участие в ВНО зарегистрировались 335 тыс. 843 чел. &ndash; это не только те,
                кто заканчивает школу, но и некоторые выпускники прошлых лет. Для сравнения: в прошлом году
                в тестировании участвовала почти 241 тыс. чел. И если количество выпускников стало меньше,
                а желающих сдавать ВНО &ndash; больше, значит, тестирование, а также высшее образование
                набирает популярность среди украинцев.
            </p>
            <div class="space-10"></div>
            <div class="ad-block">
                @* TODO: ADD ADS *@
            </div>

            <p>
                Что касается тестов, то если в прошлом году учебные заведения
                сами устанавливали по каким предметам сертификаты ВНО нужно предъявлять
                для поступления на ту или иную специальность (исключение &ndash; везде был
                обязателен украинский язык и литература), то в этом году список дисциплин
                для поступления на конкретные специальности составили в Минобразования и
                науки. Теперь при поступлении на любую специальность будут две фиксированных
                дисциплины, а третья &ndash; на выбор (отдать предпочтение придется одной из
                двух предложенных альтернативных дисциплин). Правда, эти правила касаются только
                абитуриентов, претендующих на обучение за счет бюджетных денег. ЗВО, которые набирают
                студентов на контрактной основе, вправе самостоятельно выбирать предметы, необходимые
                для поступления.
            </p>

            <p>
                При поступлении первым обязательным сертификатом
                (документом, который выдается после сдачи ВНО по конкретному предмету),
                как и раньше, будет сертификат по украинскому языку и литературе. Вторым
                - по профильному предмету, который утвержден распоряжением Минобразования и
                науки для каждой специальности и третий - один из двух предложенных министерством
                альтернативных вариантов на выбор.&nbsp; К примеру, чтобы поступить на психологию,
                придется &nbsp;предоставить сертификаты ВНО по украинскому языку (первый обязательный предмет),
                биологии (второй фиксированный профильный предмет) и выбрать между математикой и иностранным
                языком (альтернативный предмет). А, например, чтобы поступить на маркетинг, придется
                сдать украинский язык и литературу, математику, а потом выбрать одну из двух предложенных
                дисциплин &ndash; географию или иностранный язык.
            </p>

            <p>Во время вступительной кампании студентов ждут некоторые нововведения. В частности, сокращено количество заявлений, которые можно подавать при поступлении. В этом году их будет только семь (в прошлом было девять, а в 2016-м - 15), а количество специальностей, на которые можно одновременно поступать, осталось неизменным - четыре. Как объяснила <strong>министр образования и науки Лилия Гриневич</strong>, такое решение было принято потому что в прошлом году абитуриенты не выбирали ЗВО и специальности, которые значились восьмым и девятым приоритетами.</p>

            <p>Правила подачи заявлений не изменились. Поступающий имеет право подавать все семь заявлений в разные ЗВОы, даже на одну и ту же специальность, или на разные, но их не может быть больше четырех. С прошлого года сохранилась и приоритетность заявлений, которую должен указать сам абитуриент: №1 - самый желанный ЗВО и специальность, №7 &ndash; наименее интересная позиция. Причем, при выставлении приоритетности в министерстве рекомендуют быть повнимательнее, поскольку если абитуриент пройдет в ЗВО с более высоким приоритетом, но захочет учиться там, где был указан приоритет пониже, то ему в этом откажут. Это правило касается только бюджетных специальностей. При поступлении на контракт ограничений в количестве заявлений и специальностей нет.&nbsp;</p>

            <p>Еще несколько новшеств касаются сертификатов, полученных на ВНО в 2016 и 2017 годах. Все их, за исключением сертификата по иностранному языку, можно использовать и в этом году. Тесты по иностранным языкам, которые теперь проводят по-новому, с применением аудиозаписей, придется сдавать снова.</p>

            <p>Дополнительные коэффициенты, как и в прошлом году, продолжают действовать, но цифры немного изменились. Региональный коэффициент для ЗВО Донецкой, Житомирской, Кировоградской, Луганской, Николаевской, Сумской, Херсонской, Хмельницкой и Черниговской областей, а также для перемещенных ЗВО составляет 1,04, а в прошлом году он был 1,02. А для ЗВО Одессы, Днепра, Харькова и Львова коэффициент, по сравнению с прошлым годом, уменьшили с 1,02 до 1,01.</p>

            <p>Сельский коэффициент будет действовать при поступлении на аграрные специальности и составляет от 1,02 до 1,05, а отраслевой (инженерно-технические специальности, деревообработка и т. д.)&nbsp; составляет 1,02, тогда как в прошлом году был 1,03.</p>
            <div class="space-10"></div>
            <div class="ad-block">
                @* TODO: ADD ADS *@
            </div>
            <h2>
                <strong>ЧТО ЖДЕТ АБИТУРИЕНТОВ ИЗ КРЫМА И ДОНБАССА? </strong>
            </h2>

            <p>Уже третий год подряд абитуриенты из Крыма и неподконтрольной части Донбасса поступают в украинские ЗВО по упрощенной процедуре &ndash; без прохождения ВНО. Для поступления по упрощенной системе им не нужно иметь при себе паспорт или школьный аттестат, который они физически не могут получить у себя в школах. Надо только приехать в образовательный центр, подать заявление и заполнить так называемую образовательную декларацию. Потом - пройти государственную итоговую аттестацию по двум предметам (украинский язык и история Украины) и сдать вступительный экзамен по одному предмету, определенному заведением высшего образования, или - творческий конкурс. Также необходимо будет получить в школе, закрепленной за соответствующим образовательным центром, временную справку &ndash; ее потом в течение 3 месяцев нужно заменить на документ об образовании государственного образца (аттестат). А потом еще в течение года можно получить приложение с оценками к этому аттестату. Для этого придется пройти годовое оценивание на базе общеобразовательного учебного заведения, закрепленного за образовательным центром. В среднем вся процедура поступления длится 3-4 дня. Для поступающих из Крыма будет действовать специальная квота, а для абитуриентов с Донбасса в ЗВО будут предусмотрены фиксированные объемы госзаказа. Кроме того, их в первую очередь будут обеспечивать общежитиями на период обучения.</p>

            <p>Более подробно о поступлении крымчане&nbsp; могут узнать на &laquo;горячей&nbsp; линии&raquo; <strong>&nbsp;образовательного центра &laquo;Крым-Украина&raquo; в Херсоне: 0800 50 45 70</strong>, а жители Донбасса &ndash; на &laquo;горячей линии&raquo; <strong>образовательного центра &laquo;Донбасс-Украина&raquo; в Краматорске - 0800 50 45 22 и в Северодонецке &ndash; 0800 50 45 11.</strong> Все звонки бесплатные.</p>

            <h2>
                <strong>СКАНДАЛ С АКЦЕНТОМ</strong>
            </h2>

            <p>Не обошлась продолжающаяся вступительная кампания без громкого скандала. Многие участники ВНО после тестирования по английскому языку начали жаловаться в соцсетях на то, что аудиозадания, по которым проверяют восприятие языка на слух, были записаны в плохом качестве и звучали невнятно. В Украинском центре оценивания в ответ на такую реакцию рассказали, что тексты озвучивали преподаватели, профессиональные дикторы и иностранцы, старались, чтобы все было на высшем уровне, как в реальности. Но родители &laquo;пострадавших&raquo; выпускников намерены обжаловать результаты теста по английскому языку. В соцсетях даже создана группа из более чем 1300 участников со всей Украины, объединившаяся из-за неудачного тестирования по английскому. Эта группа готовит соответствующую петицию президенту. А во Львове недовольные пикетируют региональный отдел Украинского центра оценивания. При этом все понимают, что шансов как-то повлиять на результат ВНО и исправить ситуацию практически нет. Ведь апелляцию надо было подавать в день экзамена, не выходя из помещения. А это сделали только 65 человек. Впрочем, не все так безнадежно. Не исключено, что все изменит&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; специальная комиссия, созданная совместно Минобразования и науки и Украинский центр оценивания &ndash; она должна разобраться во всем.</p>

            <p>
                <strong>КСТАТИ</strong>
            </p>

            <h2>
                <strong>ДЛЯ КОГО ПРОВОДЯТ ДОПОЛНИТЕЛЬНУЮ СЕССИЮ ВНО</strong>
            </h2>

            <p>Право на участие в дополнительной сессии имеют:</p>

            <p>-&nbsp; участники АТО и жители временно оккупированной территории,</p>

            <p>-&nbsp; осужденные к лишению свободы или взятые под стражу и пребывающие в СИЗО, которые все взаимоотношения с Украинским центром независимого оценивания знаний ведут через администрацию&nbsp; учреждения исполнения наказаний,</p>

            <p>- те, кто по уважительным причинам не смог зарегистрироваться для прохождения тестирования во время основной сессии.</p>
            <div class="space-10"></div>
            <div class="ad-block">
                @* TODO: ADD ADS *@
            </div>
            <h2>
                <strong>ТЕСТЫ - НА РОДНОМ</strong>
            </h2>

            <p>Представители нацменьшинств, проживающих в Украине, воспользовались своим правом участия в ВНО на родном языке, и заявили о том, что будут сдавать:</p>

            <p>- историю Украины &ndash; 8 027 тыс. чел. на русском, 496 чел. на венгерском, 282 - на румынском, 43 - на молдавском, 2 - на польском;</p>

            <p>- математику &ndash; 12 155 чел. на русском, 299 - на венгерском, 89 - на румынском, 64 - на молдавском и 2 - на польском,</p>

            <p>- физику &ndash; 2&nbsp;800 чел. на русском, 45 - на венгерском, 30 - на румынском, 13 - на молдавском, 1 - на польском,</p>

            <p>- химию &ndash; 1&nbsp;881 чел. на русском, 22 - на венгерском, 14 - на молдавском, 10 - на румынском, 3 - на польском,</p>

            <p>- биологию &ndash; 5&nbsp;741 чел. на русском, 457 - на венгерском, 86 - на румынском, 37 - на молдавском, 4 - на польском,</p>

            <p>- географию &ndash; 5&nbsp;310 чел. на русском, 180 - на румынском, 117 - на венгерском, 32 - на молдавском.</p>

            <h2>
                <strong>ЯЗЫКОМ ЦИФР</strong>
            </h2>

            <p>- Больше всего участников ВНО в Киеве (8,47%). Дальше идут Днепропетровская обл. (7,39%), Львовская (6,37%), Харьковская (6,33%), Одесская (6,15%). А меньше всего участников ВНО в Луганской (1,75%), Кировоградской (2,35%), Черниговской (2,54%), Черкасской (2,60%) и Черновицкой (2,68%) областях. Интересно, что по количеству участников ВНО жители Донецкой обл. &ndash; на восьмом месте (4,28%).</p>

            <p>- Среди тех, кто проходит тестирование, 495 человек имеют различные особенные потребности. В частности, 10 пользуются шрифтом Брайля, 129 используют слуховые аппараты, 20 &ndash; не могут в силу проблем со здоровьем проходить контроль на металлодетекторе, 66 нуждаются в сопровождении, 137 &ndash; в сопровождении медработника, 12 &ndash; в постоянном присутствии рядом врача, 20-ти нужен в помещении для тестирования туалет, оборудованный универсальной кабинкой, 52- переводчик с языка жестов.</p>
            <div class="space-10"></div>
            <div class="ad-block">
                @* TODO: ADD ADS *@
            </div>
            <h2>
                <strong>МНЕНИЕ ГРОМОВОГО</strong>
            </h2>

            <p>
                <strong>10 ЛЕТ ВНО: ОТ ПОДОЗРЕНИЯ К ДОВЕРИЮ</strong>
            </p>

            <p>Десять лет назад внешнее независимое оценивание стало обязательным при поступлении в вузы. Поначалу новая система оценивания знаний вызывала много критики, многие, в том числе и педагоги, ее просто не хотели воспринимать. Но с каждым годом уровень доверия к тестированию растет, общественное мнение меняется. Ведь многие украинцы поняли, что внешнее тестирование всех уравнивает в правах и дает возможность умным детям попасть в престижные университеты. Все получают равные условия. Самое большое преимущество ВНО - невозможность фальсификации, как это может произойти во время обычных вступительных экзаменов. В то же время, я считаю, ВНО не идеально, порою тесты бывают сложны и далеки от совершенства. Поэтому, на мой взгляд, стандартизированные тесты &ndash; это уже пройденный этап. Нужно ценить нестандарт - способность человека по-своему мыслить и учиться. Можно, например, проводить психометрический тест, как в Израиле. Экзамен состоит из вопросов по трем направлениям: словесное мышление, математические способности и английский. Думаю, что мы к этому придем.</p>

            <p style="text-align: right;">
                <strong>Виктор ГРОМОВОЙ, заслуженный учитель</strong>
            </p>

            <p style="text-align: right;">
                <strong>Украины, эксперт по образованию</strong>
            </p>

            <h2>
                <strong>ТОЧКА ЗРЕНИЯ КАЛАШНИКОВА</strong>
            </h2>

            <p>
                <strong>ЗНАТЬ БЫ ЧЕМУ УЧИТЬСЯ</strong>
            </p>

            <p>Вступительная кампания &ndash; очень волнующий момент, и для вчерашних школьников, и для их родителей. Ведь кажется, что если парень или девушка поступят в университет, их дальнейший жизненный путь предопределен. Но на самом деле это не так: только каждый третий дипломированный специалист потом устраивается на работу по специальности. Похоже, что большинство наших детей толком и не знают о профессии, которую выбирают при поступлении. Часто их в этом немного дезориентируют любящие родители, которые пытаются навязать свои нереализованные мечты, к примеру, стать врачом или экономистом. А выпускники школ с трудом представляют свою будущую профессию.</p>

            <p>И неудивительно. Ведь прошлая советская система профориентации развалена, и это правильно, но плохо то, что ничего нового взамен не создано. По факту получается, что для многих учеба в ЗВО &ndash; это своеобразная социализация, скорее, жизненный университет. Для ребят из глубинки это шанс &laquo;зацепиться&raquo; за большой город. А потом их жизненные истории складываются по-разному.</p>

            <p>Сейчас наметилась такая тенденция: юные студенты в наших университетах получают образование, а потом, осмотревшись, многое узнав и взвесив, да просто повзрослев, где-то годам к 22-м, когда уже более точно представляют, чего хотят и чего реально смогут добиться, едут учиться за границу, поступая там на специальности, в которых в будущем смогут реализоваться. А кто-то из молодежи в студенческие годы совсем по-другому начинает видеть свое будущее, и, защитив дипломную работу, идет работать слесарем или поваром. Нам обязательно нужно создать новую систему профориентации, чтобы школьники могли четко представлять, чем хотели бы заниматься в жизни.</p>

            <p>И, наверное, совсем не обязательно практически всем выпускникам стремиться поступать в ЗВО. Необходимо наладить систему обучения специалистов для службы сервиса, обслуживающего персонала. У нас считается, что этому учиться не надо. Но это неверно. В богатых странах эта прослойка - высококвалифицированная, с хорошей зарплатой, она тоже входит в средний класс.</p>

            <div class="space-15"></div>
            <div class="ad-block">
                @* TODO:ADD ADS *@
            </div>
        </article>
    </div>
</div>