@{
    ViewData["Title"] = "Guide";
}

<blockquote class="blockquote">
    <h1 class="display-2 text-center text-primary">Abit YOUR</h1>
    <footer class="blockquote-footer text-center text-info">
        Prod by
        <cite title="More about me: s-res.azurewebsites.net">
            <a href="http://s-res.azurewebsites.net" class="deco-none" target="_blank"> Saveliy Kolesnikov</a>
        </cite>
    </footer>
</blockquote>

<div class="space-20"></div>
<div class="container-fluid">
    <div class="row justify-content-center margin-bottom-5">
        <div class="col-11 col-sm-10 col-md-9 col-lg-9 justify-content-center text-center">
            <h3 class="welcome-message how-to">Что такое <span>AbitYour</span> ?</h3>
            <br/>

            <p class="info">
                Привет, если ты абитуриент и тебе не безразлична судьба своего гипотетического бюджетного места, то ты
                попал по адресу. Как ты знаешь, рейтинговая система работает по принципу "Желаемый университет — на первом месте", поэтому
                не все люди над тобой в рейтинговых списках являются твоими конкурентами.
                <br/>
                <br/>
                Abit YOUR на основе данных с И.С. "Конкурс" (vstup.info) высчитывает, сколько потенциальных конкурентов с
                первым приоритетом находятся в рейтинге над вами, и какое место ты будешь занимать, если все 2+ приоритеты
                поступят куда хотели.
            </p>
            <div class="space-10"></div>
            <div class="ad-block">
                @* TODO:ADD ADS *@

            </div>
            <div class="space-10"></div>
            <h3 class="welcome-message how-to">Как пользоваться <span>AbitYour</span> ?</h3>
            <div class="space-10"></div>
            <p class="info">
                Для того чтобы воспользоваться сервисом Abit YOUR вам нужно сделать несколько простых шагов.
            </p>
            <ol class="list-to-do" >
                <li>
                    Зайти на сайт
                    <a class="info-link" href="http://vstup.info" target="_blank"
                       title="Перейти на странцу ИС Конкурс">ИС Конкурс</a>
                    или
                    <a class="info-link" href="https://vstup.osvita.ua/" target="_blank"
                       title="Перейти на странцу Вступ.ОСВІТА.UA">Вступ.ОСВІТА.UA</a>.
                </li>
                <li>
                    Найти на сайте желаемый вуз и выбрать специализацию, на которую вы поступаете.
                </li>
                <li>
                    Найти себя в рейтинговом списке.
                </li>
                <li>
                    Скопировать адресс, фамилию и балл в соответствующие поля на Abit YOUR как на скриншотах ниже.
                    <div class="space-10"></div>
                    <div class="guide-images-wrapper">
                        <img class="img-fluid" src="~/images\AboutImages\vstupInfo.PNG" alt="vstup info fields"/>
                        <img class="img-fluid" src="~/images\AboutImages/abitYourInterface.PNG" alt="abit your fields"/>
                    </div>
                </li>
                <li>
                    Нажать кнопку START и подождать результат.
                </li>
            </ol>
            
            <div class="space-10"></div>
            <h3 class="welcome-message how-to">Что-то не работает ?</h3>
            <div class="space-10"></div>
            <p class="info">
                Свяжитесь со мной в <a class="info-link" href="https://t.me/SaveMeAgain" target="_blank" title="Telegram of Saveliy Kolesnikov">Telegram</a>.
            </p>
            <div class="space-15"></div>
            <div class="ad-block">
                @* TODO:ADD ADS *@

            </div>
        </div>
    </div>
</div>