<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="errorMessage text-center text-danger">Ooops...Something went wrong</h1>
        <p class="errorMessage">@ViewBag.ErrorMessage</p>
    </div>
</div>